* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: #c13e3e;
    font-size: 18px;
}

.list-item {
    display: inline;
    list-style: none;
    text-decoration: none;
    float: right;
    padding-right: 100px;
    padding-top: 30px;
}

.list-item a {
    text-decoration: none;
    color: white;
}

.list-icon {
    display: inline;
    padding-left: 100px;
}

.list-icon img{
    width: 30px;
    padding-top: 13px;
}

.header {
    background-image: url(header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    font-size: 23px;
    padding-top: 30px;
    padding-bottom: 80px;
    color: white;
}

.header h1 {
    text-shadow: 0 0 5px black;
}

.flex {
    display: flex;
    padding: 50px;
}

.ck-1 {
    width: 30%;
}

.ck-1 img {
    max-width: 500px;
    border-radius: 30px;
    background-image: url(BG.jpg);
}

.ck-2 {
    width: 70%;
    font-size: 27px;
    margin-left: 90px;
}

.btn {
    text-align: center;
    margin-top: -130px;
}

.button1 {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #BF3131;
    border-radius: 25px;
    font-size: 25px;
    padding: 15px;
    margin: 30px;
    color: white;
    box-shadow: 0 0 5px black;
}

.button2 {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #BF3131;
    border-radius: 25px;
    font-size: 25px;
    padding: 15px;
    margin: 30px;
    color: white;
    box-shadow: 0 0 5px black;
}

.button {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #BF3131;
    border-radius: 25px;
    font-size: 25px;
    padding: 15px;
    color: white;
    box-shadow: 0 0 5px black;
}

.text a, .mapel a {
    float: right;
    margin-right: 100px;
}

.pengertian {
    background-color: #EAD196;
    padding: 100px;
    color: black;
}

.text h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 40px;
}

.text p {
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 90px;
    font-size: 29px;
    padding-bottom: 30px;
}

.svg {
    max-width: 50%;
}

.svg img {
    max-width: 500px;
    margin-right: 50px;
}

.keunggulan {
    background-color: #F3EDC8;
    padding: 50px;
}

.judul {
    font-size: 25px;
    text-align: center;
}

.plus, .prospek, .pkl{
    padding-top: 100px;
}

.plus, .pkl {
    background-color: #F3EDC8;
}

.prospek {
    background-color: #EAD196;
    margin-left: -50px;
    margin-right: -50px;
}

.kepala img{
    max-width: 500px;
}

.kepala, .kaka {
    background-color: #EAD196;
    justify-content: center;
}

.kepsek {
    max-width: 50%;
}

.kepsek, .kaprok {
    background-color: #BF3131;
    border-radius: 30%;
    border-style: groove;
    z-index: 1;
}

.kaprok {
    margin-right: 150px;
}

.name {
    font-size: 25px;
    background-color: #F3EDC8;
    padding: 10px;
    border-radius: 20px;
    z-index: -1;
    margin-top: -22px;
    border-style: double;
    border-color: #EA906C;
    box-shadow: 0 0 8px white;
}

.kpla h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}

.kpla {
    text-align: center;
    padding-top: 50px;
}

.jdul {
    font-size: 30px;
    margin: 50px;
}

.mapel {
    padding: 50px;
    background-color: #F3EDC8;
    justify-content: center;
    padding-bottom: 100px;
}

.card {
    background-color: #BF3131;
    border-radius: 30px;
    max-width: fit-content;
    margin-top: 30px;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
}


.card-img {
   width: 280px;
   height: 280px;
   background-size: 280px;
   background-image: url(BG.jpg); 
   -moz-border-radius: 180px; 
   -webkit-border-radius: 180px; 
   border-radius: 180px;
   border: 4px white;
   border-style: double;
   box-shadow: 7px white;
}

.judul-card {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    color: white;
}

.caption {
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    padding-bottom: 50px;
    color: white;
}

.gru {
    font-size: 40px;
}

.video {
    background-color: #EAD196;
    padding: 100px;
    justify-content: center;
}

.maps {
    background-color: #EAD196;
    padding: 100px;
    justify-content: center;
}

.awal {
    padding-bottom: 226px;
    background-image: url(guru.jpg);
    background-size: contain;
    margin-top: -50px;
    color: white;
}

.awal .jdul {
    text-align: center;
    font-size: 45px;
    padding-top: 300px;
    text-shadow: 0 0 10px black;
}

.jdul-g {
    font-size: 35px;
    margin-left: 50px;
    padding-top: 50px;
}

.cl-10 {
    background-color: #EAD196;
}

.cl-11 {
    background-color: #F3EDC8;
}

.cl-12 {
    background-color: #EAD196;
    padding-bottom: 50px;
}

.awal2 {
    padding-bottom: 300px;
    background-image: url(galeri.jpg);
    margin-top: -50px;
    color: white;
}

.awal2 .jdul {
    text-align: center;
    font-size: 50px;
    padding-top: 300px;
    text-shadow: 0 0 10px black;
}

.galeri {
    padding: 100px;
    background-color: #F3EDC8;
}

.gler {
    justify-content: center;
}

.simply-card img {
    width: 400px;
    height: 257px;
    border-radius: 30px;
}

.simply-card {
    padding: 8px;
    background-color: #BF3131;
    border-radius: 30px;
    margin-right: 80px;
}

.body {
    background-color: #EAD196;
}

.eskul  {
    background-color: #EAD196;
    padding: 60px;
}


.judul-card2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 28px;
    color: white;
}

.judul {
    font-size: 40px;
    text-align: center;
    padding: 60px;
}

.web {
    margin-left: 470px;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 10000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.grid-container {
    display: grid;
    gap: 50px 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(168, 156, 156, 0.8);
    padding: 50px 50px;
    font-size: 30px;
    text-align: center;
  }

h2{
    font-size: 25px;
}

h4{
    font-size: 15px;
    text-align: left;
    margin: 5px;
}

p{
    font-size: 15px;
    text-align: left;
    margin: 10px 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }

input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .kontak {
    height: 400px;
    background-image: url(kontak.jpeg);
    background-size: cover;
    color: white;
  }

  .kontak h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 200px;
  }

  .card-1 {
    background-color: #BF3131;
    border-radius: 30px;
    height: 450px;
    width: 450px;
    color: white;
    margin-bottom: 40px;
    margin-left: 40px;
  }

  .card-1 h1 {
    font-size: 35px;
    padding-top: 35px;
    text-align: center;
  }

  .card-1 p {
    font-size: 20px;
    padding-top: 35px;
    text-align: center;
    padding-bottom: 35px;
  }

  .cardo {
    justify-content: center;
    padding: 30px;
    background-color: #EAD196;
  }










footer {
    background-color: #BF3131;
    padding-top: 50px;
    padding-bottom: 50px;
}

.copyright {
    font-size: 30px;
    color: white;
    margin-left: 30px;
}

.copyright h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.link a{
    font-size: 25px;
    list-style: none;
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

.link {
    padding-top: 30px;
    text-align: end;
    margin-right: 30px;
}

.link ul li {
    display: inline;
}